</div>
</div>

<footer>
	<ul>
		<li><h3>Contact:<br></h3></li>
		<li>
			Hugo Peters
		</li>
		<li>
			hpeters1024@gmail.com
		</li>
		<li>
			hp1024.nl
		</li>
		<li>
			<small>
				Hugo Peters website on his pi, plox don't hack.
			</small>
		</li>
	</ul>
</footer>

</div>
</div>

