<div class="content-container">
	<div class="grid-container">

<nav>
	<ul>
		<li>
			<a class="nav-item01" href="">lol01</a>
			<a class="nav-item02" href="">lol02</a>
			<a class="nav-item03" href="">lol03</a>
			<a class="nav-item04" href="">lol04</a>
			<a class="nav-item05" href="">lol05</a>
		</li>
	</ul>
</nav>

<div class="background-wrapper">
<div class="body-wrapper">

