<div class="content-container">
	<div class="grid-container">

<nav>
	<ul>
		<li>
			<a class="nav-item04" href="/">Goals</a>
			<a class="nav-item05" href="/coding">Coding</a>
		</li>
	</ul>
</nav>

<div class="background-wrapper">
<div class="body-wrapper">

