:root {
	--yellow: #fefbd8;
	--green:  #618685;
	--blue: #36486b;
	--purple:	#4040a1;
	--bwhite: #ffffff;
	--font: Consolas;
}

body {
	background: var(--bwhite);
}

/* Grid */
.content-container {
	 width: 100%;
	 margin: 0px;
	 padding: 0px;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
	  "nav nav nav nav nav"
		"body body body body body"
		"footer footer footer footer footer";
	grid-row-gap: 0px;
	grid-column-gap: 0px;
	justify-content: center;
}


nav {
	grid-area: nav;
	display: flex;
	justify-content: center;
	background: var(--blue);
}

nav ul {
	width: 100%;
	list-style-type: none;
	margin: 0px;
}

nav ul li {
	display: flex;
	justify-content: center;
}

nav ul li a {
	padding: 20px 50px 20px 50px;
	display: inline-block;
	color: var(--bwhite);
	text-decoration: none;
	font-family: Consolas;
	font-size: 16pt;
	background: var(--blue);
	-webkit-transition: background 0.4s, color 0.4s, font-size 0.4s;
}

nav ul li a:hover {
	background: var(--bwhite);
	font-size: 18pt;
	color: black;
}

.background-wrapper {
	grid-area: body;
	display: flex;
	justify-content: center;
}

.body-wrapper {
	width: 70%;
	justify-content: center;
	display: flex;
}

footer {
	grid-area: footer;
	justify-content: center;
	display: flex;
	padding: 20px 0px 20px 0px;
}
