:root {
	--yellow: #fefbd8;
	--green: #04511b; 
	--blue: #36486b;
	--purple:	#4040a1;
	--bwhite: #ffffff;
	--rust: #b25c1e;
	--font: Arial;
	--heading: Serif;
}

body {
	background: var(--bwhite);
	font-family: var(--font);
	font-size: 14pt;
}

h1 {
	font-size: 32pt;
	color: var(--rust);
	font-family: var(--heading);
}

/* Grid */
.content-container {
	 width: 100%;
	 margin: 0px;
	 padding: 0px;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
	  "nav nav nav nav nav"
		"body body body body body"
		"footer footer footer footer footer";
	grid-row-gap: 0px;
	grid-column-gap: 0px;
	justify-content: center;
}


nav {
	grid-area: nav;
	display: flex;
	justify-content: center;
	background: var(--blue);
}

nav ul {
	width: 100%;
	list-style-type: none;
	margin: 0px;
}

nav ul li {
	display: flex;
	justify-content: center;
}

nav ul li a {
	padding: 20px 50px 20px 50px;
	display: inline-block;
	color: var(--bwhite);
	text-decoration: none;
	font-size: 16pt;
	background: var(--blue);
	height: 20px; 
	-webkit-transition: background 0.4s, color 0.4s, font-size 0.4s;
	display: flex;
	justify-content: center;
}

nav ul li a:hover {
	background: var(--bwhite);
	font-size: 18pt;
	color: black;
}

.background-wrapper {
	grid-area: body;
	display: flex;
	justify-content: center;
}

.body-wrapper {
	width: 70%;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

footer {
	grid-area: footer;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 40px;
	background: var(--blue);
	color: white;
	font-size: 12pt;
	padding-bottom: 30px;
	font-family: Monospace;
}
