body {
	background-image: url("../ns.jpg");
	background-size: cover;
	font-family: monospace;
	font-size: 16pt;
}

h1 {
	font-size: 30pt;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 10%;

}

.block {
	background-color: white;
	display: flex;
	width: 50%;
	justify-content: center;
	padding: 30px;
	box-shadow: 7px 7px 6px 8px rgba(0,0,0,0.7);
}

.info {
	width: 80%;
}

.info tr {
	padding-top: 4px;
	padding-bottom: 4px;
}

.info tr.line td {
	border-bottom: 1px solid black;
}

.info tr td:first-child {
	float: left;
}

.info tr td:last-child {
	float: right;
}

.info tr td.center {
	float: none;
  text-align: center;	
}

.qr {
	width: 256px;
	height: 256px;
}
