<!DOCTYPE html> <html lang="en">
<head>
	<meta charset="UTF-8">
	<% include ../partials/header	 %>
	<title>Coding</title>
</head>
<body>
	
	<% include ../partials/nav %>
	
	<h1>Skills++</h1>
  <p>
		Soon, on this page you will find some coding
		related blog posts and projects.
  </p>
	
	<% include ../partials/footer %>
</body>
</html>

