<!DOCTYPE html> <html lang="en">
<head>
	<meta charset="UTF-8">
	<% include ../partials/header	 %>
	<title></title>
</head>
<body>
	<% include ../partials/nav %>

 <h1>Uh oh!</h1>

 Something went wrong, please let me know by emailing hpeters1024@gmail.com 

	<% include ../partials/footer %>
</body>
</html>

