<!DOCTYPE html> <html lang="en">
<head>
	<meta charset="UTF-8">
	<% include ../partials/header	 %>
	<title></title>
</head>
<body>
	<% include ../partials/nav %>
	
	<h1>Hello Movies!</h1>
  <p>
		Let's talk more about those movies 
  </p>

	<% for(let i=0; i<books.length; i++) { %>
			<%- books[i] %>
	<% } %>


	<% include ../partials/footer %>
</body>
</html>

