<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/receipt.css">
	<title></title>
</head>
<body>
	<div class="wrapper">
		<div class="block">
			<table>
				<tr>
					<td>
						<h1>Receipt Number</h1>
					</td>
				</tr>
				
				<tr>
					<td>
						<div class="number">
								<%= receipt.Number || "unkown"%>
						</div>
					</td>
				</tr>

				<tr>
					<td>
						<small>
							Please save this number to continue your transaction at a later time.
						</small>
					</td>
				</tr>
			</table>
		</div>
    </div>


	</div>

</body>
</html>
